.menu {
  display: flex;
  flex-basis: 250px;

  background-color: #5b6167;
  font-family: "roboto";
  
}
.menu nav {
  flex-grow: 1;
  
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
}

.menu li a {
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;

  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.menu li a:hover {
  background: #000000;
  
  
  

}
